body {
  font-family: Arial, sans-serif;
  background-image: url("dm2.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 200px auto;
  background-color: #3d476e;
  padding: 15px;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: rgb(253,229,16);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
  
}

li {
  margin-bottom: 10px;
}

.course {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course span {
  font-weight: bold;
  color: #000000; 
}
